# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
# cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods slather activerecord -N # Since Travis is not always on latest version
- pod install --project-directory=Example
install:
- slather setup Example/NMessengerController.xcodeproj
- gem install xcpretty --no-rdoc --no-ri --no-document --quiet
script:
- set -o pipefail && xcodebuild test -workspace Example/NMessengerController.xcworkspace -scheme NMessengerController-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
- pod lib lint --quick
